html{
    font-family: Georgia, 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

#modalSignIn .modal-content{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#modalSignUp .modal-content{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .page-section{
      padding-top: 8rem;
      padding-bottom: 8rem;
  }

  .bg-csi{
    background-color: #73A839;
  }


  .navbar-dark .navbar-nav .nav-link{
      color: #fff;
  }

  .btn-outline-secondary{
      color: #fff;
  }

  #navigation{
      padding-top: 1rem;
      padding-bottom: 1rem;
  }

  .navbar-dark .navbar-nav .nav-link:hover{
    color: #ffc107;
}

.carousel-caption {
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    display: flex;
    align-items: center;
}

.carousel-item {
    height: 75vh;
}

hr{
    text-align:left;
    margin-left:0;
    background-color: #73A839;
    margin-bottom: 30px;
}


 